# Lines that start with '#' are comments.

bin
Bin
obj
*.bak
*.*scc
*.suo
*.xsx
*.xss
*.xsc
*.user
*.cache
*.log
*.Publish.xml
*~
~*
*.swp
_ReSharper.*
*_mm_cache.bin

!tools/Ruby/bin
!tools/Ruby/lib/ruby/gems/1.8/gems/rake-0.9.2/bin

teamcity-info.xml
local-properties.yml
build
deploy
