source https://www.nuget.org/api/v2/

nuget JetBrains.Annotations ~> 10.0
nuget FakeItEasy ~> 1.22
nuget Machine.Specifications.Runner.Console ~> 0
nuget Machine.Specifications.Should ~> 0
nuget WindowsAPICodePack-Shell !~> 1.1
nuget ILRepack ~> 2.0
